:root{
	--success:#00CCFF;
	--error:red;
	--duration:1s;
}


.swap{
	position: fixed;
	background-color:rgba(0,0,0,0.8);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #000000;
	display: none;
	animation-name: open;
	animation-duration: var(--duration);
}

.swap.closeregist{
	display: block;
}

.content {
	border: solid lightgray 2px;
	border-radius: 5px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, .3);
    background-color:#f9fafb ; 
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.close{
	display: block;
	top: 0;
	right: 0;
	position: absolute;
	border-style: none;
	cursor: pointer;
	margin:10px 10px;
}

.close:focus{
	outline: none;
}

.fa-times{
	color:#721c85;
	background-color: #00CCFF;
}

.content h1 {
	font-size: 20px;
	padding: 10px 0 15px 10px;
	background-color: #00CCFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}
/* 父相子绝 */
.content .form-cotroller {
	margin: 20px 70px;
	position: relative;
}

/* 颜色先进行设置 */
.form-cotroller.success input {
	/* border-color + border-style:solid(在之前获得边框)  */
	border: 1px solid var(--success);
}

.form-cotroller.error input {
	border: 1px solid var(--error);
}

.content .form-cotroller input {
	display: block;
	width: 250px;
	height: 30px;
	padding-left: 5px;
	margin: 5px 0 0 0;
}
/* 绝对定位主要作用脱离文档流 不然会变形*/
.content .form-cotroller small {
	position: absolute;
	color: red;
	/* 等于透明度为0 */
	visibility: hidden;
}

/* .style.visibility修改css样式 */
.form-cotroller.error small {
	visibility: visible;
}

.content .submit {
	background-color: #00CCFF;
	width: 100%;
	font-size: 16px;
	padding: 10px 0;
	border: none;
	color: white;
	width: 250px;
	margin: 20px 70px;
}

@keyframes open{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}