/* 增加样式 */
:root{
	--primary-color:#404375;
	--model-duration:1s;
}
nav {
	background-color: #30336b;
	position: fixed;
	left: 0;
	top: 0;
	width: 300px;
	height: 100vh;
	transform: translateX(-100%);
}

.center{
	transform: translateX(300px);
	transition-duration: var(--model-duration);
}

nav .logo img {
	width: 75px;
	height: 75px;
	/*重点 图片为inline,inline-block 所以margin无效 */
	display: block;
	margin: 27px auto 30px;
	border-radius: 5px;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li{
	padding: 20px;
	border-bottom: 2px solid var(--primary-color);
}

/*  :first-child 匹配的是某父元素的第一个子元素。z这里是ul的第一个li 
	li可以不用写
	:first-of-type 匹配的是该类型的第一个，类型是指什么呢，就是冒号     前面匹配到的东西
*/
nav ul li:first-child{
	border-top: 2px solid #404375;
	
}

nav ul li:hover{
	text-decoration: underline;
}